@model PaidPolyclinic.Models.Specialization

@{
    ViewBag.Title = "Детали";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Специальность</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название специальности
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecializationName)
        </dd>

        <dt>
            Описание специальности
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("<< Назад к списку", "Index")
</p>
