@model PaidPolyclinic.Models.Reception

@{
    ViewBag.Title = "Удалить";
}

<h2>@ViewBag.Title</h2>

<h3>Вы действительно хотите удалить это?</h3>
<div>
    <h4>Обращение</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Дата обращения</dt>

        <dd>@Html.DisplayFor(model => model.ReceptionDate)</dd>

        <dt>Фамилия врача</dt>

        <dd>@Html.DisplayFor(model => model.Doctor.LastName)</dd>

        <dt>Фамилия пациента</dt>

        <dd>@Html.DisplayFor(model => model.Patient.LastName)</dd>

        <dt>Диагноз</dt>

        <dd>@Html.DisplayFor(model => model.Diagnosis)</dd>

        <dt>Стоимость лечения</dt>

        <dd>@Html.DisplayFor(model => model.Price)</dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        @Html.ActionLink("<< Назад к списку", "Index")
    </div>
    }
</div>
